@import "tailwindcss";

@layer components {
  .lab {
    @apply block mb-2 font-bold text-sm text-black/60 mt-2;
  }
  .customInput {
    @apply bg-gray-200 w-full border-b-2 border-gray-300
      focus:border-black outline-none py-2 px-3
      leading-tight transition duration-200;
  }
  .container {
    @apply p-12 flex flex-col justify-center h-full gap-2;
  }
}

#root {
  @apply min-h-screen;
}
